.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header,
.logo-divider,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid gray;
}

.logo {
  width: 5vw;
  aspect-ratio: 1 / 1;
}

ul {
  list-style-type: none;
}

li {
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.rockets-section {
  padding: 0 2rem;
}

.rocket-card {
  display: flex;
  column-gap: 1rem;
  margin: 1rem 0;
}

.rocket-image {
  max-height: 250px;
  aspect-ratio: 4 / 3;
}

.rocket-info {
  text-align: start;
}

h2 {
  margin: 0;
}

.reserve-rocket-btn {
  padding: 0.5rem;
}
